*.rbc
*.sassc
.sass-cache
.rvmrc
.bundle
vendor

log
tmp
public/system
**.orig
rerun.txt
pickle-email-*.html
.project

*.sublime-project
*.sublime-workspace

.DS_Store
.AppleDouble
.LSOverride
Icon

._*
